@import "font.scss";
@import "../../node_modules/uikit/src/scss/variables.scss";
@import "../../node_modules/uikit/src/scss/mixins.scss";
@import "vars.scss";
@import "mixins.scss";
@import "_uikit-entry.scss";
//
//
//

body {
    font-family: $base-font;
    font-size: 16px;
    line-height: 1.75;
    font-weight: normal;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 1;
    stroke: currentColor;
    fill: none;
}
.modal-body{
    overflow: auto;
    height: 100vh;
}
@import "common/**/*.scss";