.catalog-menu
{
    &__list
    {
        font-size: .9rem;
        font-weight: 300;
        text-transform: uppercase;
				margin: 0;
				padding: 0;
        color: $main-nav-color;
    }
    &__item
    {

        display: inline-block;
        margin: 0;
        padding-left: 10px;
        text-align: center;
        &::before{
        	content:'|';
        	padding-right: 12px;
        }
        &:first-child
        {
        	padding: 0;
        	 &::before{
        	content:'';
        }
        }
    }
    &__link
    {
        color: inherit;
        transition: color .2s;
        text-shadow: $main-text-shadow;
        &:hover
        {
            text-decoration: none;
            color: $main-nav-color-hover;
        }
    }
}
