.s-contact
{
    position: relative;

    min-height: 300px;

    background-color: darken($btn-color-1, 20);
    &__map
    {
        width: 100%;
    }
    &__adress
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 2px  0;

        width: 400px;
    }
}
.map
{
    .map__content
    {
        width: 100%;
        height: 100%;
    }
}
.adress
{
    padding: 0 50px;

    opacity: .9;
    color: $main-nav-color;
    background-color: darken($btn-color-1, 25);
        text-shadow: $main-text-shadow;
    &__title
    {
        font-size: 1.3rem;
        font-weight: 300;

        padding-top: 40px;
        padding-left: 40px;

        // text-align: center;
        text-transform: uppercase;

        // border-bottom: 1px solid #fff;
    }
    &__content{
    	font-size: .9rem;
    	font-weight: 300;
    	font-style: italic;
    	padding-top: 30px;
    }
    &__location,
    &__mail,
    &__phone{
			display: flex;
			align-items: center;
			padding-bottom: 20px;
			p{
			padding-left: 10px;
				margin: 0;
				border-left: 1px solid #fff;
			}
			.icon{
				width: 20px;
				height: 20px;
				margin-right: 20px;
			}
    }
}
