extends ../_template

append variables
  - var title = 'Home page';
  - var pageClass = 'is-home';

block content
  .header(style="background-image: url(assets/img/header-bg.jpg);")
    .top-line
      a.top-line__logo.logo.logo--white(href="/")
        +logo
      .top-line__phone.phone.phone--wight +7(000) 000-00-00
 

 
