extends ../_template

append variables
  - var title = 'Home page';
  - var pageClass = 'is-home';

block content
  .header(style="background-image: url(assets/img/header-bg.jpg);")
    .top-line.header__top-line
      a.top-line__logo.logo.logo--white(href="/")
        +logo
      .top-line__phone.phone.phone--wight +7(000) 000-00-00
    .header__wrap
      .promo-hero.header__promo
        h1.promo-hero__title Металлоконструкции на заказ
        p.promo-hero__desk Изготовление изделий из металла, любой сложности. Мангалы нестардатных размеров, ограждения для цветников и клумб, навесы для автомобилей, садовая мебель и многое другое для дачи и дома.
      .icon-nav.header__icon-nav
        +sprite-svg("icon-nav__item", '#besedka', '#naves', '#lestnica', '#mangal', '#mebel', '#reshetka')



 
